@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/poppins-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/poppins-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-webfont.svg#poppinsregular') format('svg'); /* Legacy iOS */
}